<html>

<head>
    <%- include("../partials/head.html") -%>
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="/scripts/lib/locationpicker.jquery.js"></script>
        <script type="text/javascript" src="/scripts/route.js" async defer></script>
</head>

<body>
    <%- include("../partials/header.html") -%>
        <div class="content">
            <h3>Rota:</h3>
            <dl class="route">
                <dt>Condutor:</dt>
                <dd>
                    <%= route.driver.name + " - " + route.driver.email + " - " + route.location.text %>
                </dd>
                <dt>Viatura:</dt>
                <dd>
                    <%= route.vehicle.type %>
                </dd>
                <dt>Hora:</dt>
                <dd>
                    <%= route.time %>
                </dd>
                <dt>Dias:</dt>
                <dd>
                    <% for(var index = 0; index < route.days.length; index++) {
                        let day = route.days[index];
                     %>
                        <span class="day">
                            <%=day%>
                        </span>
                        <%}%>
                </dd>
                <dt>Lugares disponíveis:</dt>
                <dd>
                    <%= route.availableSeats %>
                </dd>
                <dt>Passageiros:</dt>
                <dd>
                    <% if (route.passengers.length === 0) {%>N/A
                        <%}%>
                            <% for(var index = 0; index < route.passengers.length; index++) {
                        let passenger = route.passengers[index];
                     %>
                                <span class="passenger">
                                    <%=passenger.name + " - " + passenger.email + " - " + passenger.location.text%>
                                </span>
                                <%}%>
                </dd>
                <dt>Mapa:</dt>
                <dd class="route-trip">
                    <iframe width="600" height="450" frameborder="0" style="border:0" allowfullscreen src="<%='https://www.google.com/maps/embed/v1/directions?key=AIzaSyAxhu2M5AiUSx1pI5avx1pgiYmgJfIZ0rQ&' + route.getRouteQueryString()%>">
                    </iframe>
                </dd>
            </dl>
        </div>
        <%- include("../partials/footer.html") -%>
</body>

</html>