<html>

<head>
    <%- include("../partials/head.html") -%>
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="/scripts/lib/locationpicker.jquery.js"></script>
        <script type="text/javascript" src="/scripts/route.js" async defer></script>
</head>

<body>
    <%- include("../partials/header.html") -%>
        <div class="content">
            <dl class="route">
                <h2>Rota:</h2>
                <dt>Condutor:</dt>
                <dd>
                    <b>
                        <%= route.driver.name %>
                    </b>
                    <%=" - " + route.driver.email + " - " + route.location.text %>
                </dd>
                <dt>Viatura:</dt>
                <dd>
                    <%= route.vehicle.type %>
                </dd>
                <dt>Hora:</dt>
                <dd>
                    <%= route.time %>
                </dd>
                <dt>Dias:</dt>
                <dd>
                    <% for(var index = 0; index < route.days.length; index++) {
                        let day = route.days[index];
                     %>
                        <span class="day">
                            <%=day%>
                        </span>
                        <%}%>
                </dd>
                <dt>Lugares disponíveis:</dt>
                <dd>
                    <%= route.availableSeats %>
                </dd>
                <dt>Passageiros:</dt>
                <dd>
                    <% if (route.passengers.length === 0) {%>N/A
                        <%}%>
                            <ul>
                                <% for(var index = 0; index < route.passengers.length; index++) {
                        let passenger = route.passengers[index];
                     %>
                                    <li class="passenger">
                                        <b>
                                            <%=passenger.user.name %>
                                        </b>
                                        <%=" - " + passenger.user.email + " - " + passenger.location.text%>
                                    </li>
                                    <%}%>
                            </ul>
                </dd>
                <dt class="route-trip-label">Viagem recomendada:</dt>
                <dd class="route-trip">
                    <iframe width="500" height="400" frameborder="0" allowfullscreen src="<%='https://www.google.com/maps/embed/v1/directions?key=AIzaSyDVYpUb6R0uhescrYfZVCmfLCnF5R71Kcs&' + route.getRouteQueryString()%>">
                    </iframe>
                </dd>
                <% if (locals.userId !== route.driver.id) { %>
                    <form class="form" method="POST" action="<%=route.id%>/passenger">
                        <h3>Adicionar passageiro</h3>
                        <input name="userId" value="<%=locals.userId%>" class="hidden" />
                        <div class="form-field">
                            <label>Localização: </label>
                            <input name="locationText" value="<%= route.locationText %>" required="true" class="location-input" />
                            <input name="locationLatitude" value="<%= route.locationLatitude %>" class="hidden" />
                            <input name="locationLongitude" value="<%= route.locationLongitude %>" class="hidden" />
                            <p class="location-help">Arraste o marcador para a sua localização:</p>
                            <div class="location-picker" id="location-picker"></div>
                        </div>
                        <input type="submit" value="Partilhar" />
                    </form>
                    <% } %>
            </dl>
        </div>
        <%- include("../partials/footer.html") -%>
</body>

</html>