<div class="footer">
    <div class="footer-content">
        <div class="left">
            <img class="map" src="https://maps.googleapis.com/maps/api/staticmap?key=AIzaSyDVYpUb6R0uhescrYfZVCmfLCnF5R71Kcs&center=<%=encodeURIComponent(locals.school.name)%>&size=550x220&scale=2&markers=<%=encodeURIComponent(locals.school.name)%>"
            />
        </div>
        <div class="right">
            <h3>CONTATOS</h3>
            <p class="address">Rua Dr. Santos Simões
                <br>4810-767 Guimarães</p>
            <p class="email">carbycarss@gmail.com</p>
            <p class="phone">Telefone: 253 439 090</p>
            <p class="fax">Fax: 253 433 010</p>
        </div>
    </div>
</div>