<!DOCTYPE html>
<html>

<head>
    <%- include("partials/head.html") -%>
</head>

<body>
    <%- include("partials/header.html") -%>
        <div class="content">
            <div>
                <% if (locals.authenticated) { %>
                    <p>Welcome
                        <%= locals.name %>
                    </p>
                    <% } else { %>
                        <%- include("partials/login.html") -%>
                            <% } %>
            </div>
        </div>
        <%- include("partials/footer.html") -%>
</body>

</html>