<!DOCTYPE html>
<html>

<head>
    <title>Carbycar</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
    </h1>
    <p>
        <% if (locals.authenticated) { %>
            Welcome
            <%= locals.username %>
                <% } else { %>
                    <form method="POST" action="/login">
                        <label for="username">Nome de utilizador</label>
                        <input type="text" name="username">
                        <label for="password">Password</label>
                        <input type="password" name="password">
                        <input type="submit" />
                    </form>
                    <a href="/signup">Registar conta</a>
                    <% } %>
    </p>
</body>

</html>