html {
    height: 100%;
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0px auto;
    box-sizing: border-box;
    height: 100%;
    text-align: center;
}

body .content {
    padding: 40px 30px;
}

.button {
    padding: 5px 10px;
    border: 1px solid #706f71;
    font-weight: bold;
    font-size: 16px;
    background: #000000;
    color: #ffffff;
    text-decoration: none;
}

input,
textarea,
select,
button {
    font-family: "Open Sans", sans-serif;
}

.error {
    color: #ec2125;
}

.hidden {
    display: none;
}
